@font-face {
  font-family: dealdeyFont;
  src: url(../fonts/OpenSans-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ececec;
  font-family: dealdeyFont;
}

h1 {
  background: #fff;
  padding-bottom: 20px;
  font-family: sans-serif;
  font-size: 23px !important;
}

.title {
  background: #fff;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 35px;
  font-family: sans-serif;
  font-size: 23px;
}

.banner {
  margin-bottom: -5px;
}

.icon {
  display: inline-block;
  height: 192px;
  width: 192px;
  margin-right: 10px;
  cursor: pointer;
  background-position: center top;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.content {
  padding: 30px;
  width: 90%;
  height: 100px;
  margin: 0 auto;
}

#content1 {
  padding-bottom: 310px;
}

#content4 {
  padding-bottom: 185px;
}

#content5 {
  padding-bottom: 150px;
}

#content6 {
  padding-bottom: 190px;
}

#content1 p,
#content4 p,
#content5 p,
#content6 p {
  font-size: 14px;
  margin-bottom: 5px;
}

.container {
  max-width: 767px;
  margin: 0 auto;
  background: transparent;
}

img {
  width: 100%;
}

.inner-container {
  background: #fff;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 15%;
}

.inner-container > div {
  margin-right: 35px;
}

.buyer-info {
  background: #fff;
  margin: 0 auto;
  height: 100%;
}

#icon1 {
  background: url('../img/1.png') no-repeat;
  background-position: center top;
  padding-top: 110px;
}

#icon1 p {
  margin-top: 20px;
}

#icon1:hover {
  background: url('../img/1a.png') no-repeat;
  background-position: center top;
}

#icon4 {
  background: url('../img/4.png') no-repeat;
  background-position: center top;
  padding-top: 130px;
}

#icon4:hover {
  background: url('../img/4b.png') no-repeat;
  background-position: center top;
}

#icon5 {
  background: url('../img/5.png') no-repeat;
  background-position: center top;
  padding-top: 128px;
}

#icon5:hover {
  background: url('../img/5b.png') no-repeat;
  background-position: center top;
}

#icon6 {
  background: url('../img/6.png') no-repeat;
  background-position: center top;
  padding-top: 127px;

}

#icon6:hover {
  background: url('../img/6b.png') no-repeat;
  background-position: center top;
}

#faq {
  background: #fff;  
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

#faq h1 {
  font-size: 20px !important;
  margin-bottom: 30px;
}
 

#hyperlocal {
  background-color: #fff;
  padding-top: 50px;
}

#reduce-exp {
  background: #91b82d;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

#reduce-exp p {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#hyper-content {
  padding: 30px 30px;
}

#hyper-content p {
  color: #333;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 25px;
}

#expense-saving-1,
#expense-saving-2 {
  background-color: #fbfbfb;
  padding: 30px;
  float: left;
}
#expense-saving-2 {
  margin-top: 20px;
}
#expense-saving-1 img,
#expense-saving-1 p,
#expense-saving-2 img,
#expense-saving-2 p {
  float: left;
}

#expense-saving-1 p,
#expense-saving-2 p {
  font-size: 15px;
  font-weight: 600;
  padding: 10% 10px 0;
}

#expense-saving-3,
#expense-saving-4 {
  clear: both;
  margin-top: 20px;
  padding: 30px;
  float: left;
  width: 100%;
  background-color: #fbfbfb;
}

#expense-saving-3 img,
#expense-saving-4 img {
  float: left;
}

#expense-saving-3 img {
  margin-right: 20px;
}

#expense-saving-3 ul {
  margin-left: 5%;
}

#expense-saving-3 ul li {
  list-style: square;
  list-style-position: outside;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 5px;
}

#expense-saving-3 p {
  font-size: 15px;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 10px;
}

#expense-saving-4 img {
  margin-right: 30px;
}

#expense-saving-4 p {
  font-size: 15px;
  font-weight: 600;
  width: 90%;
  margin-bottom: 10px;
}

#think-smart {
  clear: both;
  float: left;
  padding-top: 40px;
  padding-bottom: 80px;
}

#think-smart p {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 0 55px;
}

#hyperlocal {
  float: left;
}

.ch {
  background-color: #fff;
  height: 100%;
  display: block;
}

@media (max-width: 668px) {
  .inner-container {
    max-width: 530px;
    padding: 0 5%;
  }
}

@media (max-width: 508px) {
  .inner-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 5%;
  }
  .content {
    height: 100%;
    width: 100%;
  }

  #content1, #content4, #content4, #content6 {
    padding-bottom: 30px;
  }

  #content1 p, #content4 p, #content5 p, #content6 p {
    font-size: 16px;
    line-height: 26px;
  }

  #icon1, #icon4, #icon5, #icon6 {
    margin-left: 25%;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  #icon1, #icon4, #icon5, #icon6 {
    margin-left: 17%;
  }
}